# GitHub Linguist configuration

# Exclude all wwwroot contents
**/wwwroot/** linguist-vendored

# Exclude all CSS files
**/*.css linguist-vendored

# Exclude Blazor scoped CSS
**/*.razor.css linguist-vendored
